---
import { Icons } from '@/components/icons/icons'
import BadgeList from '@/components/shared/BadgeList.astro'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import type { ImageMetadata } from 'astro'
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from 'astro:i18n'
import { getLangFromLocale } from '@/i18n/utils'
import { cn } from '@/lib/utils'

// TYPES
interface Props {
  project: CollectionEntry<'projects'>
  priority?: boolean
}

// PROPS
const { project, priority } = Astro.props

const {
  id,
  data: { images, title, date, excerpt, techStack, comingSoon }
} = project

// CONST
const formattedDate = new Date(date).toLocaleDateString('es-ES', {
  day: '2-digit',
  month: 'long',
  year: 'numeric'
})
const techItems = techStack.map((tech) => tech.title)

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const projectLink = comingSoon
  ? getRelativeLocaleUrl(lang, '/')
  : getAbsoluteLocaleUrl(lang, `/projects${id}`)
---

<article class='grid grid-cols-1 md:grid-cols-3 gap-2'>
  {
    comingSoon && (
      <div class='absolute top-2 right-0 bg-muted text-accent-foreground px-2 py-1 text-xs font-medium rounded-sm'>
        Coming Soon
      </div>
    )
  }
  <!-- IMAGES -->
  <div
    class='flex flex-col gap-2 md:border-r md:border-dashed md:border-muted md:pr-4 py-2 col-span-1'
  >
    <a
      href={projectLink}
      data-disabled={comingSoon}
      class='relative select-none [&_img]:aspect-1200/630 rounded-sm overflow-hidden border border-muted group w-full h-auto aspect-square'
    >
      {
        images.map(({ alt, src }, index) => {
          const className =
            index === 0
              ? 'opacity-100 scale-100 group-hover:scale-120 group-hover:opacity-0 duration-500'
              : 'opacity-0 scale-80 group-hover:scale-100 duration-200 group-hover:opacity-100'
          return (
            <Image
              src={src as ImageMetadata}
              alt={alt}
              width={1200}
              height={630}
              quality={100}
              priority={priority}
              class={cn(
                'size-full transition-all absolute inset-0 ease-in-out',
                className
              )}
            />
          )
        })
      }
    </a>
  </div>

  <!-- CONTENT -->
  <div class='flex flex-col gap-2 pl-4 py-2 col-span-2'>
    <a
      href={projectLink}
      data-disabled={comingSoon}
      class='flex gap-2 hover:underline'
    >
      <h3
        class='text-lg leading-snug font-medium text-balance underline-offset-4'
      >
        {title}
      </h3>
      <Icons.arrowUpRight />
    </a>
    <div>
      <dt class='sr-only'>Published on</dt>
      <dd class='text-sm text-muted-foreground'>
        <time datetime={formattedDate}>
          {formattedDate}
        </time>
      </dd>
    </div>
    <p class='prose text-foreground prose-sm'>
      {excerpt}
    </p>
    <BadgeList items={techItems} className='pb-3 md:pb-0' />
  </div>
</article>
