---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  blogPost: CollectionEntry<'blog'>
}

const {
  id,
  data: { image, imageAlt, title, date }
} = Astro.props.blogPost

const formattedDate = new Date(date).toLocaleDateString('es-ES', {
  day: '2-digit',
  month: 'long',
  year: 'numeric'
})
---

<a
  href={`/blog/${id}`}
  class='group/post flex flex-col gap-2 p-2 max-sm:screen-line-before max-sm:screen-line-after sm:nth-[2n+1]:screen-line-before sm:nth-[2n+1]:screen-line-after'
>
  <div class='relative select-none [&_img]:aspect-1200/630 [&_img]:rounded-xl'>
    <Image src={image} alt={imageAlt} width={1200} height={630} quality={100} />

    <div
      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-black/10 ring-inset dark:ring-white/10'
    >
    </div>
  </div>
  <div class='flex flex-col gap-1 p-2'>
    <h3
      class='text-lg leading-snug font-medium text-balance underline-offset-4 group-hover/post:underline'
    >
      {title}
    </h3>

    <div>
      <dt class='sr-only'>Published on</dt>
      <dd class='text-sm text-muted-foreground'>
        <time datetime={formattedDate}>
          {formattedDate}
        </time>
      </dd>
    </div>
  </div>
</a>
