---
import { useTranslations, getLangFromLocale } from '@/i18n/utils'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'

// TYPES
interface Props {
  blogPost: CollectionEntry<'blog'>
  priority: boolean
}

// PROPS
const { blogPost, priority } = Astro.props
const {
  id,
  data: { image, imageAlt, title, date }
} = blogPost

// CONSTS
const formattedDate = new Date(date).toLocaleDateString('es-ES', {
  day: '2-digit',
  month: 'long',
  year: 'numeric'
})
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<a href={getRelativeLocaleUrl(lang, `/blog${id}`)}>
  <div
    class='relative select-none [&_img]:aspect-5/3 rounded-sm overflow-hidden border border-muted'
  >
    <Image
      src={image}
      alt={imageAlt}
      width={1200}
      height={630}
      quality={100}
      priority={priority}
    />
  </div>
  <div class='flex flex-col gap-1 p-2'>
    <h3
      class='text-lg leading-snug font-medium text-balance underline-offset-4 group-hover/post:underline'
    >
      {title}
    </h3>

    <div>
      <dt class='sr-only'>{t('blogList.published')}</dt>
      <dd class='text-sm text-muted-foreground'>
        <time datetime={formattedDate}>
          {formattedDate}
        </time>
      </dd>
    </div>
  </div>
</a>
