---
import { Image } from 'astro:assets'
import { formatDate } from '@/lib/utils'
import { Icons } from '@/components/icons/icons'
import type { certifications } from '@/constants/site-data'
import { getLangFromLocale } from '@/i18n/utils'

// TYPES
interface Props {
  certification: (typeof certifications)[0]
}

// PROPS
const { credentialURL, issueDate, issuer, issuerLogoURL, title } =
  Astro.props.certification

// CONSTS
const formattedDate = formatDate(issueDate)

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
---

<a
  class='group/cert flex items-center pr-2'
  href={credentialURL}
  target='_blank'
  rel='noopener'
>
  <Image
    src={issuerLogoURL}
    alt={issuer}
    width={32}
    height={32}
    quality={100}
    class='mx-6 flex size-8 shrink-0 aspect-square rounded-sm'
    aria-hidden='true'
  />

  <div class='flex-1 space-y-1 border-l border-dashed border-edge p-4 pr-2'>
    <h3
      class='leading-snug font-medium text-balance underline-offset-4 group-hover/cert:underline'
    >
      {title[lang]}
    </h3>

    <div
      class='flex flex-wrap items-center gap-x-2 gap-y-1 text-sm text-muted-foreground'
    >
      <div>
        <dt class='sr-only'>Issued by</dt>
        <dd>
          <span aria-hidden='true'>@</span>
          <span class='ml-0.5'>{issuer}</span>
        </dd>
      </div>

      <div class='h-4 w-[1px] bg-edge' aria-hidden='true'></div>

      <div>
        <dt class='sr-only'>Issued on</dt>
        <dd>
          <time datetime={formattedDate}>
            {formattedDate}
          </time>
        </dd>
      </div>
    </div>
  </div>

  {
    credentialURL && (
      <Icons.arrowUpRight class='size-5 text-foreground' aria-hidden='true' />
    )
  }
</a>
