---
import { Image } from 'astro:assets'
import ExperiencePositionItem from './ExperiencePositionItem.astro'
import { Accordion } from '@/components/ui/accordion'
import { Icons } from '@/components/icons/icons'
import type { experiences } from '@/constants/site-data'

// TYPES
interface Props {
  experience: (typeof experiences)[0]
}

// PROPS
const { companyLogo, companyName, positions, isCurrentEmployer } =
  Astro.props.experience

// CONST
const isMoreThanOne = positions.length > 1
---

<div class='screen-line-after space-y-4 py-4'>
  <div class='flex items-center gap-3'>
    <div
      class='flex size-7 shrink-0 items-center justify-center bg-muted rounded-full'
    >
      {
        companyLogo ? (
          <Image
            src={companyLogo}
            alt={companyName}
            width={24}
            height={24}
            quality={100}
            class='rounded-full'
            aria-hidden='true'
          />
        ) : (
          <span class='flex size-2 rounded-full bg-zinc-300 dark:bg-zinc-600' />
        )
      }
    </div>

    <h3 class='text-lg leading-snug font-medium'>
      {companyName}
    </h3>

    {
      isCurrentEmployer && (
        <span class='relative flex items-center justify-center'>
          <span class='absolute inline-flex size-3 animate-ping rounded-full bg-info opacity-50' />
          <span class='relative inline-flex size-2 rounded-full bg-info' />
          <span class='sr-only'>Current Employer</span>
        </span>
      )
    }
  </div>

  <Accordion>
    {
      positions.map((position) => {
        const Icon = Icons[position.icon as keyof typeof Icons]
        return (
          <ExperiencePositionItem
            position={position}
            isMoreThanOne={isMoreThanOne}
          >
            <Icon class='size-4 text-foreground' />
          </ExperiencePositionItem>
        )
      })
    }
  </Accordion>
</div>
