---
import { Icons } from '@/components/icons/icons'
import {
  AccordionContent,
  AccordionItem,
  AccordionTrigger
} from '@/components/ui/accordion'
import BadgeList from '@/components/shared/BadgeList.astro'
import type { experiences } from '@/constants/site-data'
import { getLangFromLocale } from '@/i18n/utils'

// TYPES
interface Props {
  position: (typeof experiences)[0]['positions'][0]
  isMoreThanOne: boolean
}

// PROPS
const { position, isMoreThanOne } = Astro.props
const { employmentType, employmentPeriod, description, skills, id, title } =
  position

// CONSTS
const { start, end } = employmentPeriod
const isOnGoing = end === null
const lineBeforeClassname = isMoreThanOne
  ? 'relative space-y-4 first:before:absolute first:before:left-3 first:before:top-3 first:before:h-full first:before:w-px first:before:bg-border'
  : ''

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
---

<AccordionItem value={id} class={lineBeforeClassname}>
  <AccordionTrigger
    class='group/experience block w-full text-left select-none p-0 pt-2'
  >
    <div class='relative z-1 mb-1 flex items-center gap-3 bg-background'>
      <div
        class='flex size-6 shrink-0 items-center justify-center rounded-sm bg-muted text-muted-foreground'
        aria-hidden='true'
      >
        <slot />
      </div>

      <h4 class='flex-1 font-medium text-balance'>
        {title[lang]}
      </h4>
    </div>

    <div class='flex items-center gap-2 pl-9 text-sm text-muted-foreground'>
      {
        employmentType && (
          <div>
            <dt class='sr-only'>Employment Type</dt>
            <dd>{employmentType}</dd>
          </div>
        )
      }

      <div>
        <dt class='sr-only'>Employment Period</dt>
        <dd class='flex items-center gap-0.5'>
          <span>{start}</span>
          <span class='font-pixel'>—</span>
          {
            isOnGoing ? (
              <>
                <Icons.infinity
                  class='size-4.5 translate-y-[0.5px]'
                  aria-hidden='true'
                />
                <span class='sr-only'>Present</span>
              </>
            ) : (
              <span>{end}</span>
            )
          }
        </dd>
      </div>
    </div>
  </AccordionTrigger>

  <AccordionContent>
    <ul class='pl-5 md:pl-9'>
      {
        description[lang].map((sentence) => (
          <li class='pt-2 list-disc'>{sentence}</li>
        ))
      }
    </ul>

    {
      Array.isArray(skills) && skills.length > 0 && (
        <BadgeList items={skills} className='p-3 md:pl-9' />
      )
    }
  </AccordionContent>
</AccordionItem>
